extends ./layout/index
 
block contenido
    main.container.mt-5         
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg",al="nosotros",class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo turpis ut pellentesque efficitur. Praesent in pharetra lorem. Duis sit amet condimentum leo. Sed pretium mi eu pulvinar vulputate. Sed at auctor dui. Suspendisse leo felis, vestibulum vitae diam vel, suscipit dignissim eros. Suspendisse sed finibus velit, sed consectetur turpis. Vestibulum eget porta libero, sed hendrerit dolor. Donec ut malesuada sapien, dapibus varius enim. Sed sit amet dolor rutrum, congue lacus sed, malesuada ante. Curabitur vel posuere nisl.
                p Nam risus mi, eleifend sit amet sollicitudin porta, malesuada eget lorem. Pellentesque mattis rutrum mi, ac tincidunt urna ultricies at. Aenean tincidunt condimentum finibus. Nulla posuere orci eget leo sagittis, ut ultricies diam dapibus. Etiam eu lacus tempor massa efficitur consequat vel vitae sapien.
                p Pellentesque euismod vitae felis non vulputate. Praesent non libero ipsum. Vivamus feugiat efficitur tortor molestie consequat. Phasellus lobortis dui vitae orci cursus, ut eleifend nisl venenatis. Sed consectetur, tellus non rhoncus tempor, enim velit sodales arcu, eget vulputate ex quam vitae diam. Integer pulvinar laoreet leo, euismod euismod velit pulvinar et. Quisque non metus massa. Quisque in eros in ante laoreet facilisis sed at felis. Nunc sit amet ex sed nunc ornare fringilla sollicitudin eu urna. Vivamus eget nisl molestie, fermentum turpis in, sodales tellus.
        
        .listado-iconos 
            .container.mt-5.py-5.text-center 
                .row 
                    .col-md-4
                        img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                        h2.mb-4 Seguridad 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit dignissimos assumenda sed eligendi,
                    
                    .col-md-4    
                        img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
                        h2.mb-4 Mejores Destinos
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit dignissimos assumenda sed eligendi,
                        
                    .col-md-4    
                        img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
                        h2.mb-4 Mejores Precios 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit dignissimos assumenda sed eligendi,